.text {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  padding: 1rem;
  gap: 50px;
  background-color: rgb(165, 246, 165);
}

.text img {
  margin-top: 90px;
  max-width: 600px;
  height: 400px;
}

.para {
  margin-top: 10px;
  text-align: justify;
  margin-left: 20px;
}

.parag {
  display: inline-block;
  font-weight: bold;
}

.text p {
  font-size: 1.5rem;
  color: #333;
  padding: 1.5rem 0;
  padding-right: 20px;
}

.list {
  line-height: 2rem;
}

.heading {
  color: green;
  font-size: 1.5rem;
  font-weight: bolder;
}

@media screen and (max-width: 920px) {
  .text {
    display: flex;
    flex-direction: column-reverse;
  }

  .text img {
    max-width: 80%;
  }

  .text .left {
    display: flex;
    justify-content: center;
  }

  .text h2 {
    padding-top: 10%;
  }
}
